.priority1 {
    color: green;
}

.priority2 {
    color: rgb(128, 128, 0);
}

.priority3 {
    color: rgb(217, 231, 15);
}

.priority4 {
    color: rgb(128, 85, 0);
}

.priority5 {
    color: rgb(128, 28, 0);
}